
body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.AppHeader{
  background-color: #0c0527;
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.AppFooter{
  background-color: #0c0527;
height: 50px;
display: flex;
justify-content: space-evenly;
align-items: center;
border-top: 1px solid rgba(0, 0, 0, 0.15);

}
.sidebarandpage{
 /* background-color: rgb(45, 58, 58);*/
 /*background-image: linear-gradient(90deg, rgb(62, 25, 113),rgb(72, 105, 206));*/
  
 display: flex;
    flex: 1;
    justify-content: flex-start;
    
    align-items: flex-start;

    background-color: #202081;
    opacity: 0.9;
    background-image: radial-gradient(#2d36e6 0.5px, #202081 0.5px);
    
}
.Sidebar{
  border-radius: 10px;
  height: 100%;
}
.Sidebar .ant-menu {
  height: 100vh; 
  
  width: 200px;
}
.ant-menu-item {
  padding: 30px;
  
 
}
.AppContent{
  padding-left: 14px;
}
.search{
  overflow: hidden;
  margin-left: 15%;
  margin-right: 15%;
  padding: 6px;
  padding: 10px;
}
.search input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  font-size: 17px;
}
.tablestyle {

  display: grid;
  place-items: center;
  height: 80vh; 
  padding: 50px,10%;
  
  border-radius: 0.6%;

}
.tabclient{  color: aliceblue;
}
.ClientStyle{

  /*display: flex;*/
  place-items: center;
  height: 80vh; 
  padding: 50px,10%;
 
  border-radius: 0.6%;


}
.mon7ana{
  display: flex;
  place-items: center;
  height: 70vh; 
}


.dash1-container {
  margin-bottom: 20px;
  margin-top: 30px;
}

.cards-container {
  margin-bottom: 20px; /* Adjust the value as needed */
}

.dash1 {
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  font-size: 30px;
  font-weight: 600;
  color: teal;
  text-align: left;
  background: lightcyan; /* Move background color here */
}

  .AppHeader .logostyle {
    position: relative; /* Add this line to make the image positioned */
    z-index: 1;
    max-width: 10%;
    height: auto;
    border-radius: 40%;
    margin-bottom: 10px;
    margin-top: 20px; /* Add this line to move the logo down */
  }
  .AppHeader .titlestyle{

    color: azure;
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    left: 100px;
    top: 10%; /* Adjusted from 50% to 30% */
    transform: translateY(-50%); /* Still needed for vertical centering */
    z-index: 0;
  }

  /* Change the background color of the sidebar */
.Sidebar .ant-menu {
  background-color: #0c0527;/* Replace with your desired color */
}

/* Change the text color of the menu items */
.Sidebar .ant-menu-item-selected,
.Sidebar .ant-menu-item {
  color: teal; /* Replace with your desired color */
}

/* Change the hover color of the menu items */
.Sidebar .ant-menu-item:hover {
  background-color: #286c82; /* Replace with your desired color */
  color: #961330; /* Replace with your desired color */
}

/* Change the color of the icons */
.Sidebar .ant-menu-item-icon {
  color: #c6d51c; /* Replace with your desired color */
}

/* Tableau */
.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd; /* Ajout d'une bordure autour du tableau */
  border-radius: 0.6%;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px; /* Augmentation de la marge interne */
  background-color: skyblue;
}

th {
  background-color: lightcyan; /* Changement de la couleur de fond en bleu ciel */
  font-weight: bold;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Pagination */
.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px; /* Augmentation de la taille des boutons */
  cursor: pointer;
  border-radius: 4px;
  margin: 0 8px; /* Réduction de la marge entre les boutons */
}

.pagination-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


/* barre de navigation */
nav {
  background-color: #6d4c91;
  padding: 10px 0;
  text-align: center;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-link {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #53437c;
}

.nav-link:active {
  transform: translateY(1px);
}

form {
  background-color: #fff;
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 70%; /* largeur du formulaire */
  margin: 0 auto; 
}
h2 {
  text-align: center; 
}
/* les champs de saisie */
input[type="text"],
textarea,
select {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 15px; /* espacement entre les champs de saisie */
  border: 1px solid #ddd; 
  border-radius: 4px; 
  box-sizing: border-box; 
  font-size: 16px; 
}

/* les boutons */
button[type="submit"] {
  background-color: #1e88e5; 
  color: #fff; 
  padding: 12px 20px; 
  border: none; 
  border-radius: 4px;
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s ease; 
}

button[type="submit"]:hover {
  background-color: #1976d2; 
}



label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #6d4c91;
  color: white;
  padding: 14px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #53437c;
}
header {
  background-color: #6d4c91;
  color: white;
  padding: 20px;
  text-align: center;
}

/* actions */
.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.actions button,
.actions a {
  margin-left: 10px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #6d4c91;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.actions button:hover,
.actions a:hover {
  background-color: #53437c;
}

/* espacement entre le titre et le tableau */
h2 {
  margin-bottom: 30px;
}

/* pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container button {
  background-color: #6d4c91;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.pagination-container button:hover {
  background-color: #53437c;
}

.pagination-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#photo {
  display: none;
}

.photo-label {
  background-color: #6d4c91;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.photo-label:hover {
  background-color: #53437c;
}

/* la barre de recherche */
input[type="text"] {
  width: 200px; 
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  font-size: 16px;
  background-color: #f9f9f9; 
}

input[type="text"]::placeholder {
  color: #999; 
}
input[type="submit"] {
  background-color: #4caf50; 
  color: white; 
  border: none; 
  border-radius: 4px; 
  padding: 8px 16px; 
  cursor: pointer;
}



